.carousel {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.descripcion-index {
    display: flex;
    flex-direction: column; /* Ajusta la dirección del flexbox a columna */
    justify-content: space-around; /* Ajusta el espacio alrededor de los elementos */
    align-items: center;
    background-color: $background-color_1;
    color: $color_1;
    height: 400px; /* Puedes ajustar según sea necesario */
    width: 100%;
    text-align: center;
    padding: 30px;

    h1 {
        font-size: 50px;
        display: flex;
        align-items: center; /* Alinea verticalmente el texto y la imagen */

        img {
            margin-right: 10px; /* Ajusta el espacio entre la imagen y el texto */
            height: 150px; /* Ajusta la altura máxima de la imagen */
            width: auto; /* Ajusta el ancho máximo de la imagen */
        }

        @media (max-width: 767px) {
            font-size: 25px;

        }
    }

    p {
        font-size: 20px;
        margin-top: 10px; /* Ajusta el margen superior del párrafo */

        @media (max-width: 767px) {
            font-size: 18px;
        }
    }

    @media (max-width: 767px) {
        height: auto; /* Ajusta la altura automática en pantallas pequeñas */
        padding: 20px;
        text-align: center;
    }
}
