.servicio {
	margin-bottom: 20px;
	background-color: $background-color_2;
}
.servicios-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
}
.card {
	border: 10px solid black;
	border-radius: 10px;
	background-color: $background-color_1;
	color: $color_1;
	h5{
		font-size: 30px;
	}
}
.card-body {
	padding: 20px;
}
.btn-custom {
	background-color: $background-color_3;
	border-color: $border-color_1;
	&:hover {
		background-color: $background-color_4;
		border-color: $border-color_2;
	}
}