$color_1: #fff;
$color_2: #000;
$color_3: #492f81;
$background-color_1: #000;
$background-color_2: #f8f9fa;
$background-color_3: #492f81;
$background-color_4: #311f5f;
$border-color_1: #492f81;
$border-color_2: #311f5f;